* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 5em;
    height: 100vh;
    margin: 0 auto;
    background-color: #9ab5c5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    border: 1px solid black;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3em;
}
/*
.gameboard {
    border: 1px solid black;
    border-radius: 20px;
    margin: 0 auto;
    max-width: 1500px;
    padding: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9ab5c5;
}
*/
.gamepieces {
    display: flex;
    gap: 7em;
    margin-bottom: 5em;
}

.gamepieces > img {
    transition: transform .5s ease-in-out;
}

.piece {
    padding: 1em;
    width: 180px;
    height: auto;
    filter:drop-shadow(0px 10px 5px #757575df);
    /*box-shadow: 0px 10px 0px #555555b3;*/
}

.paper {
    padding: 1.5em;
}

.gamepieces > img:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: transform .5s ease-in-out;
}

/* Class for toggling border on selected gamepiece choice  */
.selected {
    outline: 2px solid blue !important;
    border-radius: 20px;
}

.winning-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
    border-radius: 10px;
}

#num-rounds {
    margin: 2em auto 3em auto;
    width: 3em;
    height: 3em;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border:solid 1px #ccc;
    border-radius: 10px;
    text-align: center
}

#num-rounds:focus {
    outline: none;
}

/* Hide arrows and spinners in input box */
/* Chrome, Safari, Edge, Opera */
#num-rounds::-webkit-outer-spin-button,
#num-rounds::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
#num-rounds {
  appearance: textfield;
}

button {
    margin-bottom: 5em;
    padding: .5em 2em;
}

button:hover {
    cursor: pointer;
}

.scoreboard {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 5em;
}

.score {
    font-size: 1.5rem;
    font-weight: bold;
    flex: 1;
    text-align: center;
}

.arena {

}

#player-piece {
    margin-right: 7em;
}

footer {
    border: 1px solid black;
    background-color: red;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}


.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000b3;
    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms;
}

.popup {
    width: 500px;
    height: 500px;
    background-color: blue;
}






@media(max-width: 950px) {
    .gamepieces {
        gap: 3em;
    }
    .piece {
        width: 150px;
    }
    #player {
        margin-right: 3em !important;
    }
}