:root {
    --box-shadow-color: #b8ffb5;
    --font-color: #2a2a2a;
}

@font-face {
    font-family: Lato;
    src: url('./fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: Rubik;
    src: url('./fonts/Rubik_Doodle_Shadow/RubikDoodleShadow-Regular.ttf');
}

@font-face {
    font-family: Shirkand;
    src: url('./fonts/Shrikhand/Shrikhand-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

body {
    padding: 5em;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    background: radial-gradient(#9ab5c5 20%, transparent);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--font-color);
}

h1 {
    font-family: Shirkand, serif;
    letter-spacing: .1em;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3em;
}

.gamepieces {
    display: flex;
    gap: 7em;
    margin-bottom: 5em;
}

.gamepieces > img {
    transition: transform .5s ease-in-out;
}

.piece {
    padding: 1em;
    width: 180px;
    height: auto;
    filter: drop-shadow(0px 10px 5px #757575df);
}

.paper {
    padding: 1.5em;
}

.gamepieces > img:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: transform .5s ease-in-out;
}

/* Class for toggling border on selected gamepiece choice  */
/* Use outline instead of border to avoid changing size on click */
.selected {
    outline: 1px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--box-shadow-color),  inset 0px 0px 10px var(--box-shadow-color);
}

.controls {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 5em;
    width: 100%;
    max-width: 1000px;
}

.input {
    margin-bottom: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7em;
}

#num-rounds {
    width: 3em;
    height: 3em;
    font-size: 1.1rem;
    border: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    color: var(--font-color);
}

#num-rounds:focus {
    outline: none;
}

/* Hide arrows and spinners in input box */
/* Chrome, Safari, Edge, Opera */
#num-rounds::-webkit-outer-spin-button,
#num-rounds::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
#num-rounds {
  appearance: textfield;
}

button {
    font-size: 1.1rem;
    color: var(--font-color);
    padding: .5em 3em;
    background-color: #faf4f4;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 20px var(--box-shadow-color),  inset 0px 0px 10px var(--box-shadow-color);
}

button:hover {
    cursor: pointer;
}

button:disabled {
    background-color: #e7e1e1;
    box-shadow: 0px 0px 0px gray,  inset 0px 0px 5px gray;
}

.scoreboard {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 5em;
}

.score {
    font-size: 1.5rem;
    font-weight: bold;
    flex: 1;
    text-align: center;
}

.score-num {
    margin-left: 1.5em;
}

.arena {
    display: flex;
    gap: 6em;
    justify-content: center;
    align-items: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000b3;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1000ms;
}

.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    background-color: #e0e1dd;
    padding: 3em 6em;
    border: 3px solid #b8ffb5;
    border-radius: 10px;
}

@media(max-width: 950px) {
    h1 {
        font-size: 2rem;
    }
    button, .controls {
        font-size: .9rem;
    }
    .score {
        font-size: 1.1rem;
    }
    .gamepieces {
        gap: 3em;
    }
    .piece {
        width: 175px;
    }
    .popup {
        gap: 2em;
        padding: 2em 4em;
    }
}

@media(max-width: 600px) {
    body {
        padding: 3em;
    }
    h1 {
        font-size: 1.5rem;
    }
    .gamepieces {
        gap: 1em;
    }
    button, .controls {
        font-size: .8rem;
    }
    button {
        padding: .3em 1em;
    }
    #num-rounds {
        width: 2.5em;
        height: 2.5em;
        font-size: .9rem;
    }
    .score {
        font-size: .9rem;
    }
    .piece {
        width: 150px;
    }
    .input {
        gap: 4em;
    }
    h1, .scoreboard, .gamepieces {
        margin-bottom: 1em;
    }
    .arena {
        gap: 2em;
    }
    .popup {
        gap: 1em;
        padding: 1em 2em;
    }
}